:root {
  --Background: #161618;
  --HeaderBackground: rgba(0, 0, 0, 0.8);
  --BannerBackground: rgba(0, 0, 0, 0.5);
  --TextColor: #f2f5f4;
  --Orange: #ee4d2e;
  --TextColorFooter: #888888;
  --TableBorderColor: #f2f5f4;
}

html, body {
  margin: 0 auto;
  width: 1052px;
  background: var(--Background);
  color: var(--TextColor);
  line-height: 1.3;
  font-family: sans-serif, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji",
    Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif,
  LastResort;
  font-size: 16px;
}

a {
  color: var(--TextColor);
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

a:hover {
  color: var(--Orange);
}

body > #kellergeschwader {
  box-sizing: border-box;

}