<span class="tacviewrecords">
    <h1>Tacview aufnahmen</h1>
    <!-- ko if: vm.listLoading() === true -->
        Dateien werden laden...
    <!-- /ko -->
    <!-- ko if: vm.listLoading() === false -->
        <!-- ko foreach: vm.tacviewDays() -->
            <details class="date-details">
                <summary data-bind="text: $data.date"></summary>
                <!-- ko foreach: $data.players -->
                    <details class="player-details">
                        <summary data-bind="text: $data.name"></summary>
                            <div class="table player-mission-table">
                                <div class="table-header">
                                    <span>Zeit</span>
                                    <span>Mission</span>
                                    <span>Download</span>
                                </div>
                                <div class="table-body">
                                    <!-- ko foreach: $data.files -->
                                        <div>
                                            <span data-bind="text: $data.time"></span>
                                            <span data-bind="text: $data.missionName"></span>
                                            <span>
                                                <a data-bind="attr: { href: $data.link }">
                                                    <svg class="download-icon" width="100%" height="100%" viewBox="0 0 2134 2134" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><path d="M521.811,1032.29l-375.293,-0l0,552.089l912.942,-0l-537.649,-552.089Zm1089.71,-0l-537.65,552.089l912.942,-0l-0,-552.089l-375.292,-0Z" style="fill:#fff;stroke:#fff;stroke-width:133.33px;"/><g id="Layer1"><rect x="937.5" y="341.988" width="258.333" height="577.456" style="fill:#fff;stroke:#fff;stroke-width:133.33px;"/><path d="M1066.67,1349.54l-542.33,-556.894l1084.66,-0l-542.329,556.894Z" style="fill:#fff;stroke:#fff;stroke-width:66.67px;"/></g></svg>
                                                </a>
                                            </span>
                                        </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                    </details>
                <!-- /ko -->
            </details>
            <!-- ko if: $index() < $parent.vm.tacviewDays().length - 1 -->
                <hr>
            <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
</span>