.tacviewrecords > * {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.tacviewrecords .player-details {
    padding-left: 15px;
}

.tacviewrecords .date-details > summary,
.tacviewrecords .player-details > summary {
    cursor: pointer;
}


.tacviewrecords .date-details > summary:focus,
.tacviewrecords .player-details > summary:focus {
    outline-style: none;
}

.tacviewrecords .player-mission-table {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.tacviewrecords .table > div {
    border-width: 1px;
    border-style: solid;
    border-color: var(--TableBorderColor);
}

.tacviewrecords .table > .table-header {
    font-weight: bold;
}

.tacviewrecords .table > .table-body {
    border-top-width: 0;
}

.tacviewrecords .table > .table-header,
.tacviewrecords .table > .table-body {
    padding-top: 5px;
    padding-left: 5px;
}

.tacviewrecords .table span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    height: 20px;
}

.tacviewrecords .table span:nth-child(1) {
    width: 100px;
}

.tacviewrecords .table span:nth-child(2) {
    width: 400px;
}

.tacviewrecords .table span:nth-child(3) {
    width: 90px;
}

.tacviewrecords .download-icon {
    overflow: hidden;
}

.tacviewrecords .download-icon:hover * {
    color: var(--Orange) !important;
    fill: var(--Orange) !important;
    stroke: var(--Orange) !important;
}