<h1>WIR ÜBER UNS</h1>
<p>
    Die Kellerkompanie, eine im Aufbau befindliche DCS Community, fliegt seit 2019 in gemütlicher Runde zusammen.
    Bei uns ist jeder, vom Anfänger bis zum echten Piloten willkommen.
    Es herrschen keine Verpflichtungen und Verbindlichkeiten zur Anwesenheit oder ähnlichem, wie es bei anderen
    Communities der Fall ist.
</p>

<h2>WO FINDET IHR UNS</h2>
<p>
    Die meiste Kommunikation findet auf unserem <a href="https://discord.gg/ZjDZAt5CTT" target="_blank">Discord Server</a> statt.
    Einfach beitreten und Spaß haben.
</p>
<a href="https://discord.gg/ZjDZAt5CTT" target="_blank">
    <img class="logo discord-logo" data-bind="attr: { src: './images/discord-logo.png' }">
</a>
<h2>SERVER</h2>
<p>
    Wir betreiben einen dedizierten öffentlichen Server mit abwechlungsreichen Missionen, der konstant weiterentwickelt wird.
    Er verfügt über ein Votingsystem, SRS und zufälligem Wetter beim Missionsstart.
</p>
<a class="server" href="/server.html">
    <img class="logo server-logo" data-bind="attr: { src: './images/server-icon.png' }">
    SERVER
</a>