.banner {
    height: 438px;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--BannerBackground);
    border-bottom: 2px solid var(--Orange);
}

.banner > .logo {
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}